@charset "UTF-8";

html, body {
	height: 100%;
}

.logo {
	height: 5em;
	width: 10em;
	position: relative;
}

.logo img {
	width: 100%;
}

.logo span {
	position: absolute;
	top: 0;	
	left: 0;
	width: 100%;
	height: 100%;
}

.form-content {
	height: 565px;
}

.summary-content {
	height: 400px;
}